body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

input {
  padding: 10px;
  border: #eee 1px solid;
}

button {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: #f6f6f6;
  border-left: #ccc 3px solid;
  padding: 10px;
  margin: 10px;
}
