* {
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 30px;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

input {
  padding: 10px;
  border: #eee 1px solid;
}

button {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: #f4f4f4;
  border-left: #ccc 3px solid;
  padding: 10px;
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 20px;
}

label input, label textarea {
  width: 100%;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  font-weight: bold;
}

.toast {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.toast.success {
  background-color: rgba(0, 180, 180, 0.75);
}

.toast.error {
  background-color: rgba(180, 0, 0, 0.75);
}

small.error {
  color: #f66;
}
